[Unit]
Description=One-Time Nextcloud Generate All
After=nextcloud-pod.service
Requires=nextcloud-pod.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash -c "podman exec -it nextcloud-app php occ preview:generate-all"
Restart=no

[Install]
WantedBy=default.target
